<%= form_for(@homeitem) do |f| %>
  <% if @homeitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homeitem.errors.count, "error") %> prohibited this homeitem from being saved:</h2>

      <ul>
      <% @homeitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :stagetime %><br>
    <%= f.datetime_select :stagetime %>
  </div>
  <div class="field">
    <%= f.label :userid %><br>
    <%= f.text_field :userid %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
