<%= form_for(@homeitem) do |f| %>
  <% if @homeitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homeitem.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @homeitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4><span class="label label-default">Name</span></h4>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <h4><%= f.label :status, class: "label label-default" %></h4>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <h4><%= f.label :stagetime, class: "label label-default" %></h4>
    <%= f.datetime_select :stagetime %>
  </div>
  <div class="field">
    <h4><%= f.label :user, class: "label label-default" %></h4>
    <%= f.text_field :userid %>
  </div>
  <div class="field">
    <h4><%= f.label :desc, class: "label label-default" %></h4>
    <%= f.text_area :desc, size: "85x5" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
