
<nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Home Maintenance</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="#">Home</a></li>
           <li><a href="#about">About</a></li>
           <li><a href="#contact">Contact</a></li>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Home Items <span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
               <li><a href="#">Create New Home Item</a></li>
               <li><a href="#">Something else here</a></li>
               <li class="divider"></li>
               <li class="dropdown-header">Nav header</li>
               <li><a href="#">Separated link</a></li>
               <li><a href="#">One more separated link</a></li>
             </ul>
           </li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
 </nav>

 <div class="container theme-showcase" role="main">

   <div class="jumbotron">
        &nbsp;
        <br />
        <h3>Home Maintenance Web Application!</h3>
        <!-- <p>This our home maintenance / project listing web application! Use it at your own risk!</p> -->
   </div>

   <div class="page-header">
     Current List
   </div>

   <div class="row">
     <div class="col-md-9">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Stagetime</th>
                <th>UserId</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% @homeitems.each do |homeitem| %>
                <tr>
                  <td><%= homeitem.name %></td>
                  <td><%= homeitem.status %></td>
                  <td><%= homeitem.stagetime %></td>
                  <td><%= homeitem.userid %></td>
                  <td><%= homeitem.desc %></td>
                  <!-- <td><%= link_to 'Show', homeitem %></td>
                  <td><%= link_to 'Edit', edit_homeitem_path(homeitem) %></td>
                  <td><%= link_to 'Destroy', homeitem, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
   </div>
   <%=link_to 'New Homeitem', new_homeitem_path, class: "btn btn-primary" %>

 </div>

<!-- <h1>Listing homeitems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Stagetime</th>
      <th>Userid</th>
      <th>Desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homeitems.each do |homeitem| %>
      <tr>
        <td><%= homeitem.name %></td>
        <td><%= homeitem.status %></td>
        <td><%= homeitem.stagetime %></td>
        <td><%= homeitem.userid %></td>
        <td><%= homeitem.desc %></td>
        <td><%= link_to 'Show', homeitem %></td>
        <td><%= link_to 'Edit', edit_homeitem_path(homeitem) %></td>
        <td><%= link_to 'Destroy', homeitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homeitem', new_homeitem_path %> -->
